@media all and (min-width: 1200px){
	.header-menu{
		display: flex;
	}
}
@media all and (max-width: 1200px){
	/*header area*/
	.header-area{
		max-width: 100%;
		text-align: left !important;
	}
	.header-area{
		max-width: 490px;
	}
	.header-area h2,p{
		text-align: center;
	}

	/*simple-work*/
	.single-img-item {
		flex: 0 0 25%;
	}
	.works-overly-icon {
		margin-top: 2rem;
	}

	/*testimonial*/
	.testimonial-area .owl-nav .owl-next i {
		right: 46%;
		top: 100%;
	}
	.testimonial-area .owl-nav .owl-prev i {
		left: 46%;	
		top: 100%;
	}


	/*price-table*/
	.real-cheap-area-top p{
		text-align: center;
	}
	.single-price-list {
		flex: 0 0 47%;
		margin: 30px 0px;
	}
	
 
}

@media all and (min-width: 991px){
	.header-menu ul{
		display: flex !important;
	}
}
@media all and (max-width: 991px){
	/*menu area*/
	.header-menu{
		display: block;
		text-align: right;	
	}
	.header-menu ul {
		display: none;
		flex-direction: column;
		text-align: center;
	}
	.header-menu ul li {
		margin-top: 1rem;
		padding-right: 3rem;
	}
	.header-menu ul li a{
		display: block;
	}
	.bars-icon{
		text-align: right;
	}
	.bars-icon{
	display: block;
	}

	/*malticontent*/
	.single-multi-item {
		flex: 0 0 45%;
		margin: 25px 0px;
	}
	.header-area h4, p {
		text-align: justify;
	}

	/*skills*/
	.our-skills-count .pie_progress__connt {
		top: 27%;
	}

	/*work*/
	.works-blog-btn a {
		padding: 1rem 25rem;
	}


	/*company facts*/
	.company-single-conut h1 {
		font-size: 6rem;
	}
	.company-single-conut a {
		font-size: 1.2rem;
	}

	/*.purchase-area*/
	.purchase-area {
		flex-direction: column;
	}
	.purchase-right {
		text-align: center;
		padding-top: 20px;
	}
	.purchase-left {
		text-align: center;
		padding-bottom: 10px;
	}

	/*client-team*/
	.team-member-area-section p {
		text-align: center;
		width: 52%;
		margin: auto;
	}

	/*testimonial*/
	.testimonial-area .owl-nav .owl-next i {
		right: 45%;
		top: 100%;
	}
	.testimonial-area .owl-nav .owl-prev i {
		left: 45%;
		top: 100%;	
	}
	
}

@media all and (max-width: 768px){
	/*header area*/
	.header-area{
		text-align: center;
	}
	.header-area h1{
		font-size: 4.3rem;
		text-align: center;
	}
	.header-area h4{
		text-align: center;
	}
	.header-area h4,p{
		font-size: 1.2rem;
	}
	.tartuprr{
		text-align: center;
	}
	.tartuprr h2{
		margin: 2rem 0rem;
	}
	/*what offer*/

	.what-offer-content {
		flex-direction: column;
	}
	.what-single-item {
		margin-top: 40px;
	}
	.what-single-item p {
		text-align: center;
	}

	.our-skills-count .pie_progress__svg svg {
		width: 30%;
	}

	.our-skills-item {
		flex-direction: column;
	}
	.our-skills-count {
		margin-bottom: 80px;
	}
	.our-skills-count:last-child{
		margin-bottom: 0px;
	}
	.our-skills-count .pie_progress__content {
		top: 110%;
	}
	.our-skills-count .pie_progress__connt {
		top: 40%;
	}


	/*simple-work*/
	.single-img-item {
		flex: 0 0 50%;
	}

	.works-overly-icon {
		margin-top: 6rem;
	}
	/*work*/
	.works-blog-btn a {
		padding: 1rem 20rem;
	}
 	
 	/*company facts*/
 	.company-single-conut h1::after {
		content: url('../images/company-shaps.png');
		position: absolute;
		top: -15px;
		left: -10px;
		display: none;
	}

	.company-single-conut h1::before {
		content: url('../images/company-shaps.png');
		position: absolute;
		top: -15px;
		left: -10px;
		display: none !important;
	}
	.company-single-conut h1 {
		font-size: 4rem;
	}
	.company-single-conut {
		text-align: center;
	}
	.company-single-conut a i{
		padding: 2rem 0rem;

	}
	.company-single-conut a i::after {
		display: none;
	}


	/*testimonial*/
	.testimonial-area .owl-nav .owl-next i {
		right: 43%;
		top: 100%;
	}
	.testimonial-area .owl-nav .owl-prev i {
		left: 43%;	
		top: 100%;
	}

	/*.unique-area*/
	.unique-area {
		flex-direction: column;
	}
	.unique-right {
		margin-top: 20px;
	}

	

}

@media all and (max-width: 576px){
	/*malticontent*/
	.single-multi-item {
		flex: 0 0 100%;
		margin: 25px 0px;
	}
	.header-area h4, p {
		text-align: justify;
	}

	/*simple-work*/
	.single-img-item {
		flex: 0 0 100%;
	}

	.works-overly-icon {
		margin-top: 12rem;
	}

	/*work*/
	.works-blog-btn a {
		padding: 1rem 15rem;
	}


	/*client-team*/
	.team-client-area .owl-next {
		top: -20%;
	}
	.team-client-area .owl-prev {
		top: -20%;
	}


	/*testimonial*/
	.testimonial-area .owl-nav .owl-next i {
		right: 42%;
		top: 100%;
	}
	.testimonial-area .owl-nav .owl-prev i {
		left: 42%;	
		top: 100%;
	}

	/*price-table*/
	.single-price-list {
		flex: 0 0 100%;
		margin: 30px 0px;
	}


	/*.unique*/
	.unique-left p {
		font-size: 1.8rem;
	}
	
}



@media all and (max-width: 470px){
	/*header area*/
	
	.header-area h1{
		font-size: 3rem;
	}
	.header-area h4,p{
		font-size: 1.2rem;
	}
	.header-area h2{
		margin: 2rem 0rem;
	}



	/*simple-work*/
	.works-overly-icon {
		margin-top: 5rem;
	}

	/*.purchase-*/
	.purchase-left h6 {
		font-size: 1.4rem;
	}
}

@media all and (max-width: 420px){

	/*simple-work*/
	.works-overly-icon {
		margin-top: 4rem;
	}
	/*work*/
	.works-blog-btn a {
		padding: 1rem 10rem;
	}

	/*company facts*/
	.company-facts-counter {
		flex-direction: column;
	}

	/*.purchase*/
	.purchase-right a {
		padding: .8rem 1rem;
	}

	/*testimonial*/
	.testimonial-area .owl-nav .owl-next i {
		right: 40%;
		top: 100%;
	}
	.testimonial-area .owl-nav .owl-prev i {
		left: 40%;
		top: 100%;	
	}


	/*.unique*/
	.unique-left p {
		font-size: 1.2rem;
	}

}