
/*
===================================================================
----------------------------Defult CSS-----------------------------
===================================================================
*/
body{
	margin: 0;
	font-family: 'Raleway', sans-serif;

	/*font-family: 'ElegantIcons';*/

}
html{
	font-size:62.5%;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
a{
	text-decoration: none;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
p {
	color: #7a7a7a;
	font-size: 1.4rem;
	font-weight: 500;
	padding-top: 1rem;
}
h2 {
	color: #383838;
	font-weight: 800;
	font-size: 2.6rem;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	display: inline-block;
}
h2 span{
	color: #00a99d;
}
h3{
	color: #606060;
	font-weight: 800;
	font-size: 1.4rem;
	text-transform: uppercase;
}
h4{
	color: #606060;
	font-weight: 800;
	font-size: 1.4rem;
	text-transform: uppercase;
}
h5{
	color: #aaaaaa;
	font-weight: 500;
	font-size: 1.2rem;
}
.btn-style {
	color: #e4e4e4;
	font-weight: 800;
	font-size: 1.3rem;
	padding: 1rem 2rem;
	background: #00a99d;
	text-transform: uppercase;
	border-radius: 5px;
}
.header-padding{
	padding: 7rem 0rem;
}

/*
===================================================================
---------------------Start Header Area CSS-------------------------
===================================================================
*/
.header-area-section{
	background: url(../images/header-bg.jpg) no-repeat scroll 0 0 / cover;
	padding: 11rem 0rem;
}
.header-area {
	max-width: 45%;
	position: relative;
}
.header-area p {
	text-transform: uppercase;
	font-size: 1.8rem;
	color: #383838;
	font-weight: 500;
	font-size: 1.8rem;
	text-align: center;
}
.header-area h1 {
	color: #383838;
	font-weight: 800;
	font-size: 5rem;
	text-transform: uppercase;
}
.header-area h4 {
	color: #e4e4e4;
	font-size: 1.4rem;
	text-transform: uppercase;
	background: #333333;
	display: inline-block;
	padding: .5rem;
	margin-top: 0.8rem;
	font-weight: 500;
	border-radius: 3px;
}
.header-area h4 span{
	font-weight: 800;
	text-transform: capitalize;
	color: #e4e4e4;
}
.header-area h4 span b{
	color: #00A89D;
}
.header-area h2{
	color: #383838;
	margin: 3rem 0rem;
	font-weight: 800;
	font-size: 2rem;
	text-transform: uppercase;
	position: relative;
	text-align: center;
}
.header-area h2 span{
	position: relative;
}
/*.header-area h3::after{
	content: url(../images/shaps-right.png);
	position: absolute;
	top: 5%;
	width: 100%;
	height: 100%;
	right: -25%;
}
.header-area h3::before {
	content: url(../images/shaps-left.png);
	position: absolute;
	top: 5%;
	width: 100%;
	height: 100%;
	left: -25%;
}*/
/*.header-area h2 span::after {
	content: url(../images/header-line.png);
	position: absolute;
	top: 5%;
	width: 100%;
	height: 100%;
	right: 76%;
}*/

.header-area h2 b{
	color: #00A89D;
}
.header-down-btn{
	text-align: center;
}
.header-down-btn a i {
	font-size: 2rem;
	color: #00A89D;
	width: 4rem;
	height: 4rem;
	border: .2rem solid #00A89D;
	border-radius: 50%;
	text-align: center;
	line-height: 2;
}

.header-down-btn{
	text-align: center;
}
/*
===================================================================
---------------------End Header Area CSS-------------------------
===================================================================
*/


/*
===================================================================
---------------------Start Navber Area CSS-------------------------
===================================================================
*/
.menu-area-section{
	padding: 2.5rem 0rem;
	background: #fff;
	border-bottom: .2rem solid #dedede;
}

.header-menu ul{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: center;
	transition: .5s;
}
.header-menu ul li{
	margin-left: 1rem;
}
.header-menu ul li a {
	color: #606060;
	font-weight: 800;
	font-size: 1.3rem;
	padding: 1rem 1rem;
	text-transform: uppercase;
	border-radius: .5rem;
	display: inline-block;
}
.header-menu ul li:hover a{
	background: #01A79E;
	color: #fff;
}
.header-menu ul li a.active{
	background: #01A79E;
	color: #fff;
}
.header-menu ul li a.search{
	color: #01A79E;
}
.header-menu{
	display: flex;
	justify-content:flex-end;
	align-items: center;
	
}
.serch-icon{
	margin-left: 1rem;

}
.serch-icon a i {
	font-size: 1.4rem;
	color: #01A79E;
	padding-left: .5rem;
}
.serch-icon input{
	display: none;
}
.serch-icon input {
	background: transparent;
	border: 1px solid #ddd;
	padding: .2rem 1rem;
	border-radius: 3px;
	font-size: 1.2rem;
	width: 100px;
	transition: .5s;
}
.serch-icon input:focus{
	width: 150px;
	box-shadow: 3px 3px #eee;
}
.header-menu a i{
	color: #01A79E;
	font-size: 2rem; 
}
.header-menu a i{
	display: none;
}
/*mobile-bars*/
.menu_logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu_logo a i{
	color: #BABABA;
	font-size: 20px;
	padding: 5px;
	border:1px solid #BABABA;
	border-radius: 3px;
}
.bars-icon{
	display: none;
}
/*
===================================================================
---------------------End Navber Area CSS-------------------------
===================================================================
*/



/*
===================================================================
---------------------Start What Offer Area CSS--------------------- 
===================================================================
*/
.title_header_b h2::after {
	content: url(../images/shaps-right.png);
	position: absolute;
	width: 48px;
	right: -46px;
	top: 0;
	bottom: 0;
	margin: auto;
}
.title_header_b {
	text-align: center;

}
.title_header_b h2::before {
	content: url(../images/shaps-left.png);
	position: absolute;
	width: 50px;
	left: -46px;
	top: 0;
	bottom: 0;
	margin: auto;
}
/*.what-offer-top h2 span:after,
.sample-works-top h2 span:after {
	content: url(../images/line2.png);
	position: absolute;
	top: 5%;
	width: 100%;
	height: 100%;
	right: 2%;
}*/

.amazing-top {
	text-align: center;
}

.what-offer-content {
	padding-top: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.what-img {
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	margin: auto;
	background: #383838;
	line-height: 7;
}
.what-img.active,
.what-img:hover{
	background: #00a99d;
}
.what-single-item h4 {
	padding-top: 3rem;
}
.what-single-item p {
	padding: .8rem;
	line-height: 1.5;
}
.what-single-btn{
	padding-top: 2rem;
}
.what-single-btn a{
	color: #8a8a8a;
	font-weight: 800;
	font-size: 1rem;
	padding: 1rem 1.5rem;
	border: .1rem solid #dedede;
	border-radius: .3rem;
	text-transform: uppercase;
}
.what-single-btn a.active,
.what-single-btn a:hover{
	background: #00a99d;
	color: #fff;
}
/*
===================================================================
---------------------End What Offer Area CSS-----------------------
===================================================================
*/




/*
===================================================================
--------------------Start Amazing Futures Area CSS-----------------
===================================================================
*/
.amazing-futures-area-section{
	padding-top: 7rem;
}
.amazing-futures-area-section{
	background: #383838;
}
.amazing-top h2{
	color: #e4e4e4;
}
.amazing-top h2 span{
	color: #00a99d;
}
.amazing-top p{
	text-align: center;
}
.amazing-left{
	padding-top: 8rem;

}
.amazing-single-left{
	display: flex;
	align-items: center;
}
.amazing-contet{
	padding-top: 3rem;
}
.amazing-icon a i{
	color: #01A79E;
	font-size: 2rem;
	margin-right: 2rem;
}
.amazing-contet h3{
	color: #e4e4e4;
}


.amazing-right{
	margin-top: 5rem;
}
.amazing-right-img{
	width: 65rem;
	height: auto;
}
.amazing-right-img img {
	width: 65rem;
	height: auto;
	object-fit: cover;
}
/*
===================================================================
---------------------End Amazing Futures Area CSS------------------
===================================================================
*/



/*
===================================================================
---------------------Start MultiContent Area CSS------------------
===================================================================
*/
.multicontent-area-section{
	background: #f9f9f9
}
.multicontent-area{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.single-multi-item {
	flex: 0 0 32%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}
.multi-icon a i {
	font-size: 1.5rem;
	width: 3rem;
	height: 3.5rem;
	background: #606060;
	text-align: center;
	line-height: 2;
	color: #fff;
	margin: 0.5rem 2rem 0rem 0rem;
	border-radius: 3px 3px 0 0;
}
.multi-content h3{
	color: #606060;
}
.multi-content h5{
	padding-top: .5rem;
}
.multi-icon{
	position: relative;
}
.clickpath {
	width: 3rem;
	height: 3.5rem;
	background: #00A89D;
	clip-path: polygon(100% 69%, 48% 100%, 0 70%, 0 14%, 51% 48%, 100% 14%);
	position: absolute;
	top: 16%;
	left: 0px;
}
.multi-icon{
	transition: 1s;
	display: inline-block;
}
.multi-icon:hover .clickpath2{
	background: #606060;
}
.multi-icon:hover .clickpath1 i{
	background: #00A89D;
}
.clickpath2{
	/*background: #00A89D;*/
}
/*.multi-icon a i:hover{
	background: #00A89D;
	color: #fff;
}
.clickpath:hover{
	background: #373737;
}
.new-clickpath{
	background: #404040;
}*/

/*
===================================================================
---------------------End MultiContent Area CSS------------------
===================================================================
*/



/*
===================================================================
---------------------Start Our Skills Area CSS------------------
===================================================================
*/
.our-skills-area-section{
	position: relative;
}
.midd-icon {
	transform: rotate(226deg);
	width: 3rem;
	height: 3rem;
	background: #00A99D;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	top: -4%;
	border-radius: .5rem;
}
.midd-icon a i {
	color: #fff;
	text-align: center;
	font-size: 1.6rem;
	transform: rotate(132deg);
	margin: 8px;
}

.our-skills-area-section{
	background: #383838;
}
.our-skills-top h2{
	color: #e4e4e4;
}
.our-skills-top p{
	text-align: center;
}


.our-skills-item {
	display: flex;
	margin: 5rem 0rem 3rem 0rem;
	justify-content: space-between;
	text-align: center;
}
.our-skills-count{
	position: relative;
}
.our-skills-count .cont-number {
	position: absolute;
	left: 0;
	right: 0;
	top: 30px;
    bottom: 30%; 
	margin: auto;
	color: #fff;
}
.our-skills-count .cont-number h1 span{
	font-size: 1.4rem;
}
.our-skills-count .pie_progress__svg svg {
	width: 60%;
}
.our-skills-count .pie_progress__connt {
	font-size: 2rem;
	color: #fff;
	top: 35%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
.our-skills-count .pie_progress__connt span{
	font-size: 1.5rem;
}
.our-skills-count .pie_progress__content {
	color: #fff;
	text-align: center;
	left: 0%;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 120%;
}
.our-skills-count .pie_progress__content a{
	color: #8a8a8a;
	font-size: 1.4rem;
	text-transform: uppercase;
}
.our-skills-count path {
	stroke: #1fafa5;
}
/*
===================================================================
---------------------End Our Skills Area CSS------------------
===================================================================
*/



/*
===================================================================
---------------------Start Sample Works Area CSS------------------
===================================================================
*/
.sample-works-top p{
	text-align: center;
}
.sample-works-img-blog{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 3rem 0rem;
	overflow: hidden;

}
.single-img-item{
	flex: 0 0 16.66%;
	border: .1rem solid #fff;
	border-radius: .2rem;
	position: relative;
	overflow: hidden;
}
.single-img-item a img {
	width: 100%;
	height: auto;
	border-radius: 0.3rem;
}
.works-blog-btn{
	text-align: center;
}
.works-blog-btn a {
	color: #e4e4e4;
	background: #01A89E;
	text-transform: uppercase;
	display: inline-block;
	padding: 1rem 35rem;
	text-align: center;
	border-radius: 5px;
	font-size: 1.3rem;
	font-weight: 800;
	border: .1rem solid transparent;
	transition: 1s;
}
.works-blog-btn a:hover{
	border: .1rem solid #01A89E;
	background: #e4e4e4;
	color: #01A89E;
}
.works-img-overly {
	position: absolute;
	text-align: center;
	top: -200%;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	background: rgba(28,163,153,0.9);
	border-radius: 3px;
	transition: 1s;

}
.works-overly-icon {
	margin-top: 2rem;
}
.works-overly-icon a {
	width: 3rem;
	height: 3rem;
	background: #e4e4e4;
	display: inline-block;
	line-height: 3;
	transform: rotate(135deg);
	border-radius: 5px;
	text-transform: capitalize;
}
.works-overly-icon a.active{
	background: #383838;
	color: #6BB09D;
}
.works-overly-icon a i {
	color: #6BB09D;
	font-size: 1.5rem;
	transform: rotate(-33deg);
}
.works-overly-icon a:hover{
	background: #414141;
	color: #fff;
}
.works-overly-icon a i:hover{
	color: #fff;
}
.works-overly-content h6 {
	color: #e4e4e4;
	font-weight: 800;
	font-size: 1.6rem;
	padding-top: 2rem;
}
.works-overly-content ul{
	display: flex;
	justify-content: center;
	padding-top: .5rem;
}
.works-overly-content ul li a{
	color: #e4e4e4;
	font-weight: 500;
	font-size: 1.2rem;
	padding: .5rem;
}
.hart-icon{
	padding-top: .5rem;
}
.hart-icon a {
	color: #e4e4e4;
	font-size: 1.2rem;
	
}
.single-img-item:hover .works-img-overly{
	top: 0;
}
/*
===================================================================
---------------------End Sample Works Area CSS------------------
===================================================================
*/



/*
===================================================================
---------------------Start Company Facts Area CSS------------------
===================================================================
*/
.company-facts-area-section{
	background: #383838;
}
.company-facts-top p{
	text-align: center;
}
.company-facts-top h2{
	color: #e4e4e4;
}
.company-facts-counter {
	display: flex;
	justify-content: space-around;
	margin-top: 3rem;
}
.company-single-conut{
	}
.company-single-conut h1 {
	color: #fff;
	font-weight: 500;
	font-size: 8rem;
	text-align: center;
	position: relative;
}
.company-single-conut h1::after {
	content: url('../images/company-shaps.png');
	position: absolute;
	top: -15px;
	left: -10px;
}
/*.company-single-conut h1:nth-child(1):after{
	content: url('../images/company-shaps-un.png');
	position: absolute;
	top: -15px;
	left: -10px;
	background: #fff;s
	color: #fff;
}*/
.company-single-conut h1::before {
	content: url('../images/company-shaps.png');
	position: absolute;
	top: -15px;
	right: -10px;
}
.company-single-conut a i {
	color: #1CA399;
	font-size: 1.8rem;
	text-align: center;
	display: block;
	padding: 0rem 0rem 1rem 0rem;
	position: relative;

}
.company-single-conut a i::after {
	content: "";
	position: absolute;
	width: 50%;
	height: .1rem;
	background: #484848;
	top: 30%;
	resize: 0;
	right: -15px;
}
/*.company-single-conut a i:before {
	content: "";
	position: absolute;
	width: 10%;
	height: .1rem;
	background: #484848;
	top: 0%;
	left: 0;
}*/
.company-single-conut a{
	color: #606060;
    font-size: 1.4rem;
    text-transform: uppercase;
}  
.company-facts-area-section{
	position: relative;
}
/*
===================================================================
----------------------End Company Facts Area CSS-------------------
===================================================================
*/



/*
===================================================================
-------------------------Start Purchase Area CSS--------------------
===================================================================
*/
.purchase-area-section{
	background: #01A89E;
	padding: 3rem 0rem;
}
.purchase-area{
	display: flex;
	justify-content: space-between;
}
.purchase-left h6 {
	color: #e4e4e4;
	font-weight: 800;
	font-size: 1.6rem;
	/* padding-top: 2rem; */
	text-transform: uppercase;
}
.purchase-right a {
	color: #606060;
	font-weight: 800;
	font-size: 1.2rem;
	padding: 1rem 2rem;
	background: #E4E4E4;
	border-radius: 5px;
	text-transform: uppercase;
	margin-left: 1rem;
	border: .1rem solid transparent;
}
.purchase-right a:hover{
	border: .1rem solid #01A89E;
	color: #01A89E;
}
/*
===================================================================
--------------------------End Purchase Area CSS--------------------
===================================================================
*/



/*
===================================================================
---------------------Start Team Member Area CSS--------------------
===================================================================
*/
.team-member-area-section{
	position: relative;
}
.team-member-area-section p{
	text-align: center;
}
.team-client-area{
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
}
.single-team-item {
	margin: 0 10px;
}
.single-team-img{
	width: 100%;
	height: auto;
}
.single-team-img img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 5px 5px 0 0;
}
.name-client {
	max-width: 60%;
	margin: auto;
	background: #01A89E;
	border-radius: 5px;
	transform: translate(0, -20px);
}
.name-client:hover{
	background: #383838;
	color: #CECECE;
}
.name-client h4 {
	color: #e4e4e4;
	padding: 1.5rem 1rem;
	font-size: 1.2rem;
	text-align: center;
}
.team-content-area{
	border: .1rem solid #ddd;
}
.team-content{
	text-align: center;
}
.team-content h5 {
	color: #606060;
	font-size: 1.2rem;
	text-align: center;
	margin-top: -.5rem;
	padding-bottom: 2rem;
	position: relative;
}
.team-content h5::after {
	content: "";
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	width: 50%;
	height: .1rem;
	background: #ddd;
	margin: auto;
}
.team-contact {
	display: flex;
	justify-content: center;
	padding-bottom: 1rem;
}
.team-contact a{
	padding-right: 1rem;
	color: #aaaaaa;
	font-weight: 500;
	font-size: 1.2rem;
}
.team-contact i{
	font-size: 1.6rem;
}
.team-contact a:hover{
	color: #00A89E;
}
/*.play-icon{
	display: flex;
	justify-content: space-between;
}*/
/*.play-icon a i {
	font-size: 3rem;
	background: #01A89E;
	color: #DFE3E2;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	line-height: .9;
	border-radius: 5px;
	margin: auto;
}*//*
.play-icon .fas.fa-caret-right,
.play-icon .fas.fa-caret-left {
	top: 72px;
	position: absolute;
}
.play-icon .fas.fa-caret-right {
	right: 115px;
}
.play-icon .fas.fa-caret-right:hover,
.play-icon .fas.fa-caret-left:hover{
	background: #353535;
	color:#EBEBEB;
}*/

/*overly*/
.single-team-img{
	position: relative;
	overflow: hidden;
}
.team-img-overly{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(40,176,166,.5);
	top: -100%;
	left: 0;
	transition: 1s;
}
.single-team-img:hover .team-img-overly{
	top: 0;
}
.team-overly-icon{
	display: flex;
	justify-content: center;
}

.team-overly-icon a {
	width: 3rem;
	height: 3rem;
	background: #E3E4E3;
	text-align: center;
	line-height: 3.5;
	margin: 50% 2px;
	border-radius: 5px;
	transform: rotate(46deg);
}
.team-overly-icon a i {
	font-size: 1.6rem;
	color: #23A196;
	transform: rotate(-45deg);
}
.team-overly-icon a:hover{
	background: #333333;
	color: #ECECEC;
}
.team-overly-icon a i:hover{
	background: #333333;
	color: #ECECEC;
}

/*owl-carousel*/
.owl-theme .owl-nav [class*="owl-"]:hover {
	background: transparent;
}
.team-client-area button:focus{
	outline: 0;
}

.team-client-area.owl-carousel .owl-nav button.owl-next,
.team-client-area.owl-carousel .owl-nav button.owl-prev,
.team-client-area.owl-carousel button.owl-dot {
	font-size: 35px;
	color: #fff;
	width: 30px;
	height: 30px;
	background: #000;
	line-height: 0;
	text-align: center;
}

.team-client-area.owl-carousel .owl-nav button.owl-next:hover,
.team-client-area.owl-carousel .owl-nav button.owl-prev:hover,
.team-client-area.owl-carousel button.owl-dot {
	color: #fff;
	background: #01A89E;
}

.team-client-area .owl-prev {
	position: absolute;
	top: 0px;
	top: -24%;
	left: 0%;
}
.team-client-area .owl-next {
	position: absolute;
	top: 0px;
	top: -24%;
	right: 0%;
}

.team-client-area .fas.fa-caret-left {
	position: absolute;
	left: 5px;
	top: -2px;
}
.team-client-area .fas.fa-caret-right {
	position: absolute;
	right: 5px;
	top: -2px;
}




/*
===================================================================
----------------------End Team Member Area CSS--------------------- 
===================================================================
*/




/*
===================================================================
----------------------Start Play Testimonial Area CSS-------------
===================================================================
*/
.play-testimolial-area-section{
	background: #00a99d;
	padding: 5rem 0rem;
	position: relative;
}
.play-testimolial-area-section .midd-icon{
	background: #383838;
}
.testimonial-btn a {
	color: #00A99D;
	padding: 1rem 1rem;
	font-size: 1.2rem;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	background: #E3E3E2;
	border-radius: 5px;
	display: inline-block;
}
.testimonial-btn a span{
	text-transform: capitalize;
	color: #aaaaaa;
	font-weight: 400;
}
.testimonial-area p {
	width: 70%;
	color: #e4e4e4;
	font-weight: 500;
	margin: auto;
	text-align: center;
	padding: 3rem 0rem 3rem 0rem;
}
.testimonial-area.owl-theme .owl-nav {
	/* margin-top: 10px; */
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 130px;
}
.testimonial-area.owl-theme .owl-nav span {
	font-size: 3rem;
	color: #fff;
}
.testimonial-area button:focus{
	outline: 0;
}
.testimonial-area.owl-theme .owl-nav [class*="owl-"]:hover {
	background: none;
}
.testimonial-area .owl-nav .owl-prev i {
	width: 3rem;
	height: 3rem;
	background: #000;
	font-size: 3rem;
	color: #fff;
	position: absolute;
	left: 47%;
	text-align: center;
	line-height: 1;
	border-radius: 5px;
	padding-right: 3px;
}
.testimonial-area .owl-nav .owl-prev i:hover{
	background: #fff;
	color: #04A89D;
}
.testimonial-area .owl-nav .owl-next i {
	width: 3rem;
	height: 3rem;
	background: #fff;
	font-size: 3rem;
	color: #04A89D;
	position: absolute;
	right: 47%;
	text-align: center;
	line-height: 1;
	border-radius: 5px;
	padding-left: 3px;
}
.testimonial-area .owl-nav .owl-next i:hover{
	background: #000;
	color: #fff;
}
/*
===================================================================
----------------------End Play Testimonial Area CSS---------------- 
===================================================================
*/


/*
===================================================================
----------------------Start Client Logo Area CSS---------------- 
===================================================================
*/
.client-logo-area-section{
	background: #383838;
	padding: 3rem 0;
}
.client-area {
	display: flex;
	align-items: center;
	justify-content: space-between; 
	padding-top: 3rem;
}
.single-logo {
	background: #363636;
	padding: 2rem 0rem;
	margin: 0rem 2.5rem;
} 
.single-logo img {
	width: auto;
	height: 6rem;
	filter: grayscale(100%);
	object-fit: contain;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	display: block;
}
.client-area button:focus{
	outline: 0;
}
.client-area.owl-theme .owl-nav [class*="owl-"]:hover {
	background: none;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
	color: #000;
}
.client-area .owl-nav .owl-prev i{
	width: 3rem;
	height: 3rem;
	background: #fff;
	color: #00A99D;
	font-size: 3rem;
	position: absolute;
	line-height: 1;
	border-radius: 5px;
	padding-right: 5px;
	right:100%;
	top: 40%;
}

.client-area .owl-nav .owl-next i {
	width: 3rem;
	height: 3rem;
	background: #fff;
	font-size: 3rem;
	position: absolute;
	line-height: 1;
	border-radius: 5px;
	padding-left: 5px;
	left: 100%;
	top: 40%;
}
.client-area .owl-nav .owl-next i:hover{
	color: #00A99D;
}
/*
===================================================================
------------------------End Client Logo Area CSS-------------------- 
===================================================================
*/


/*
===================================================================
------------------Start Real Cheap Price Area CSS------------------ 
===================================================================
*/

.price-list-item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 8rem;
	padding: 0rem 2rem;
}
.single-price-list{
	text-align: center;
	border: 1px solid #ddd;
}
.price-money{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	position: relative;
	padding-top: 0rem;
}
.price-money::after {
	content: "";
	position: absolute;
	background: #ddd;
	width: 80%;
	height: 1px;
	top: 100%;
	left: 0;
	right: 0;
	margin: auto;
}
.price-money h3{
	padding: 0rem 1rem;
	font-size: 5rem;
	position: relative;
	color: #383838;
}
.price-money h3::after {
	content: url(../images/price/dot-shap.png);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 40px;
}
.price-money h3::before {
	content: "99";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 40px;
	font-size: 15px;
}
.price-money p{
	padding-top: 2rem;
	padding-left: 2rem;

}
.price-content{
	position: relative;
}
.price-content:after{
	content: "";
	position: absolute;
	background: #ddd;
	width: 80%;
	height: 1px;
	top: 100%;
	left: 0;
	right: 0;
	margin: auto;
}
.price-content p{
	color: #8a8a8a;
	font-weight: 500;
	font-size: 1.4rem;
	padding-top: 2rem;
	text-align: center;
}
.price-content p:last-child{
	padding-bottom: 2rem;
}
.price-btn {
	padding: 3rem;
}
.btn-style:hover{
	background: #383838;
	color:#fff;
}
.price-name {
	max-width: 60%;
	margin: auto;
	background: #383838;
	border-radius: 5px;
	transform: translate(0, -20px);
}
.price-name h4 {
	padding: 1.5rem 1rem;
	color: #e4e4e4;
	font-size: 1.3rem;
}
.price-name h4:hover,
.price-name h4.active{
	background: #00a99d;
	color: #e4e4e4;
	border-radius: 5px;
}
.price-name h4.star{
	position: relative;
}
.price-name h4.star::after {
	content: url("../images/price/star-shap.png");
	position: absolute;
	width: 100%;
	height: 100%;
	top: 27%;
	left: 50%;
}
.price-name h4.star::before {
	content: url("../images/price/star-shap.png");
	position: absolute;
	width: 100%;
	height: 100%;
	top: 27%;
	right: 50%;
}

/*
===================================================================
-------------------End Real Cheap Price Area CSS------------------ 
===================================================================
*/



/*
===================================================================
-----------------------Start Unique Area CSS------------------------ 
===================================================================
*/
.unique-area-section{
	background: #8a8a8a;
	padding: 3rem 0rem;
}
.unique-area{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 1rem;
}
.unique-left{
	display: flex;

}
.unique-left p{
	padding-top: 0rem;
	color: #383838;
	font-weight: 800;
	font-size: 2.2rem;
	padding:0rem .8rem;
}
.unique-left p span{
	text-transform: uppercase;
}
.unique-left a i {
	color: #00a99d;
	font-size: 1.4rem;
	padding-top: 1rem;
}
/*
===================================================================
------------------------End Unique Area CSS----------------------- 
===================================================================
*/


/*
===================================================================
---------------------Start Social Icon Area CSS-------------------- 
===================================================================
*/
.social-icon-section{
	background: #383838;
	padding: 3rem 0rem;
}
.social-icon-area{
	margin: 3rem 0rem;
}
.social-icon-area a i {
	color: #e4e4e4;
	padding: 1rem;
	border: 1px solid #606060;
	border-radius: 5px;
	background: transparent;
	margin-right: 1rem;
	font-size: 1.2rem;
	margin-top: 1rem;
}
.social-icon-area a i.active{
	background: #00a99d;
	color: #e4e4e4;
}
.social-icon-area a i:hover{
	background: #00a99d;
	color: #e4e4e4;
}

/*
===================================================================
---------------------End Social Icon Area CSS--------------------- 
===================================================================
*/




/*
===================================================================
---------------------Start Map Area CSS--------------------- 
===================================================================
*/
.mar-section{
	background:url('../images/footer-map.png') no-repeat scroll 0 0 / cover;
}
.map-contact{
	background: #fff;
	padding: 1rem;
	border-radius: 3px;
	border: 1px solid #cecece;
}
.map-contact input[type=text],
.map-contact input[type=email],
.map-contact textarea{
	width: 100%;
	border: 1px solid #cecece;
	padding: 1rem 1.5rem;
	border-radius: 3px;
	margin-bottom: 3rem;
}
.map-contact input[type=text]:focus,
.map-contact input[type=email]:focus,
.map-contact textarea:focus{
	box-shadow: 0 0 10px #ddd;
}
.map-contact .btn-style {
	width: 100%;
	border: 1px solid #cecece;
}
/*
===================================================================
--------------------------End Map Area CSS------------------------ 
===================================================================
*/


/*
===================================================================
------------------------Start Footer Area CSS---------------------- 
===================================================================
*/
.footer-area-section{
	background:#333333;
	padding: 2rem 0rem;
	position: relative;
	
}
.footer-area p{
	color: #cccccc;
	font-size: 1rem;
	font-weight: 800;
	padding-top: 2rem;
	text-align: center;
}
.midd-icon a i{
	padding-right: 3px;
}
.footer-area-section .midd-icon{
	top: -1.5rem;
}
/*
===================================================================
------------------------End Footer Area CSS------------------------ 
===================================================================
*/


.fixedclass{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
